<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <hr />
  <!-- Error Messages -->
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let error of errorMsg">{{ error }}</p>
  </div>

  <!-- Email Input -->
  <div class="mb-3">
    <label class="form-label" for="email">Email address</label>
    <input
      [(ngModel)]="authRequest.email"
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter email"
      required
    />
  </div>

  <!-- Password Input -->
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      [(ngModel)]="authRequest.password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      required
    />

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary" (click)="login()">
        <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
      </button>
    </div>

    <div>
      Don't have an account?&nbsp;
      <button type="button" class="btn btn-link" (click)="register()">
        Register
      </button>
    </div>
  </div>
</div>
